%inline-block {
    display: inline-block;
    vertical-align: middle;
}

%hidden-token {
    display: inline;
    font-size: 1px !important;
    letter-spacing: -1ch;
    font-family: monospace;
    color: transparent;
}

.CodeMirror {
    span.hmd-hidden-token {

        &.cm-formatting-em,
        &.cm-formatting-strong,
        &.cm-formatting-strikethrough,
        &.cm-formatting-code,
        &.cm-formatting-link,
        &.cm-customlink,
        &.cm-highlightText, 
        &.cm-subscript,
        &.cm-superscript 
        {
            @extend %hidden-token;
        }
    }

    /* adding some CodeMirror-not-implemented styles' default style */
    .cm-inline-code,
    .cm-math {
        color: #900;
    }
    .cm-subscript {
        font-size: 0.8em;
        vertical-align: sub;
    }
    .cm-superscript {
        font-size: 0.8em;
        vertical-align: super;
    }
    .cm-highlightText {
        text-indent: 0;
    }

    /* tooltip for addon/hover */
    div.HyperMD-hover>.HyperMD-hover-content {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
        padding: .5em;

        p {
            margin: .2em 0;
        }
    }

    /* gutter for addon/click */
    .HyperMD-goback {
        width: 1px;
    }

    div.HyperMD-goback-button {
        background-color: #ddd;
        color: #333;
        text-align: center;
        cursor: pointer;
    }

    /* addon/fold */
    .hmd-link-icon:after {
        // Link Placeholder
        content: "🔗»";
        color: #009;
        text-shadow: 0 0 2px #69F;
    }

    /* addon/table-align */
    pre.HyperMD-table-row {
        white-space: pre; // disable wrapping

        .hmd-table-column,
        .hmd-table-column-content {
            display: inline-block;
        }

        .hmd-table-column-left {
            text-align: left
        }

        .hmd-table-column-center {
            text-align: center
        }

        .hmd-table-column-right {
            text-align: right
        }

        .cm-hmd-table-sep {
            @extend %inline-block;
        }
    }

    /* addon/fold-math */
    .hmd-fold-math {
        @extend %inline-block;

        &.hmd-fold-math.math-2 {
            // aka. display mode
            width: 100%;
        }
    }

    /* addon/fold-emoji */
    img.hmd-emoji {
        height: 1.2em;
        vertical-align: middle;
    }

    .cm-customlink {
        color: purple;
        position: relative;
    }

    // .cm-qf-hyperMD-list-line.cm-un-ordered-list:not(:has(span)),
    // .cm-qf-hyperMD-list-line.cm-un-ordered-list:has(span) + * {
    //     display: inline-block;
    // }
    // .cm-qf-hyperMD-list-line.cm-un-ordered-list,
    // .cm-formatting-list.cm-formatting-list-ul {
    //     color: #8C8C8C;
    //     letter-spacing: 2px;
    // }
    // .cm-qf-hyperMD-list-line.cm-un-ordered-list:not(:has(span)):last-child:before,
    // .cm-qf-hyperMD-list-line.cm-un-ordered-list:has(span) + span:last-child::before
    // .CodeMirror-line .cm-qf-hyperMD-list-line.cm-un-ordered-list:not(:has(span))::before
    .cm-qf-hyperMD-list-line.cm-un-ordered-list,
    .cm-formatting-list.cm-formatting-list-ul:not(:has(+ .cm-formatting-task)) {
        color: transparent;
    }

    .cm-qf-hyperMD-list-line.cm-un-ordered-list::after,
    .cm-formatting-list.cm-formatting-list-ul:not(:has(+ .cm-formatting-task))::after
    {
        content: '\2022';
        position: relative;
        left: 0;
        color: black;
        font-size: 1.5em;
        background-color: #FFF;
        left: -10px;
        top: 4px;
        line-height: 19px;
    }
    .CodeMirror-line .cm-qf-hyperMD-list-line.cm-un-ordered-list + span[class^="cm-list-"]::before {
        content: '';
    }

    .do-not-show-token ~ .CodeMirror-line {
        .cm-image, .cm-url {
            display: none;
        }
    }

    // .cm-qf-hyperMD-list-line.cm-un-ordered-list:not(:has(span))::first-letter,
    // .cm-qf-hyperMD-list-line.cm-un-ordered-list:has(span) + *::first-letter {
    //     color: transparent;
    // }
    .HyperMD-table-row:not(.hmd-table-processed) {
        // display: none;
    }
    .hmd-table-processed {
        table, th, td {
            border-collapse: collapse;
            border: solid 1px #333;
            & > div {
                padding: 3px 8px;
            }
            // padding: 8px;
            // text-align: left;
        }
    }

    /* Hide the Markdown lines that are part of the table */
.hmd-table-hidden {
    display: none;
  }
  
  /* Basic table styling */
  .hmd-table {
    display: table;
    border-collapse: collapse;
    width: 100%;
  }
  
  .hmd-table-header, .hmd-table-row {
    display: table-row;
  }
  
  .hmd-table-cell {
    display: table-cell;
    border: 1px solid #ccc;
    padding: 8px;
  }
  
  .hmd-table-header-cell {
    font-weight: bold;
    background-color: #f4f4f4;
  }

  div:has(> .HyperMD-table-row) {
    // pointer-events: none;
  }
  .HyperMD-table-row {
    // pointer-events: none;
    & > span[role="presentation"] {
        display: block;
    }
    & > span[role="presentation"] > span:not(.qmd-table-holder) {
        display: none;
    }
    table {
        // width: 100%;
        // pointer-events: none;
        display: table;
        border-collapse: collapse;
        font-weight: normal;
        th {
            font-weight: 600;
            .cm-bold {
                font-weight: 800;
            }
        }
        td, th {
            border: 1px solid #ccc;
        }
        .hmd-table-column {
            display: table-cell;
        }
        .hmd-table-column-content {
            pointer-events: all;
        }
    }
  }
  .qmd-table-holder {
    display: inline-block;
    position: relative;
    .add-table-column, .add-table-row {
        @extend %inline-block;
        position: absolute;
        border: 1px solid #ccc;
        box-sizing: border-box;
        opacity: 0;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            height: 14px;
        }
        &:hover {
            opacity: 1;
        }
    }
    .add-table-column {
        top: 0;
        right: -15px;
        width: 15px;
        height: 100%;
        cursor: e-resize;
    }
    .add-table-row {
        top: initial;
        right: initial;
        left: 0;
        height: 15px;
        bottom: -15px;
        width: 100%;
        cursor: s-resize;
    }
  }
    
  .CodeMirror-selected, ::selection {
    background: rgba(255, 159, 138, 0.4) !important;
    opacity: 1;
    // opacity: 0.4;
  }
}

.CodeMirror-wrap pre.CodeMirror-line,
.CodeMirror-wrap pre.CodeMirror-line-like {
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-all !important;
}

.CodeMirror-wrap pre.CodeMirror-line {
    white-space: break-spaces;
    word-break: break-word !important;
    overflow-wrap: anywhere;
}